/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

:root {
  --fonts: 'Merriweather', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  text-align: center;
  height: 100dvh;
  width: 100%;
  font-family: var(--fonts);
}
img {
  width: 200px;
}
#hero {
  background-image: url('./code.avif');
  padding: 225px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  header {
    display: flex;
    color: #fff;
    align-items: center;
    flex-direction: column;
    text-shadow: 0 0 2px black;
    /* font-weight: 700; */
    h1 {
      background-color: #1d3557;
      font-size: 48px;
      padding: 4px 8px;
      border-radius: 10px;
      margin: 0;
    }
    h2 {
      background-color: #457b9d;
      font-size: 18px;
      padding: 6px 16px;
      border-radius: 10px;
      text-wrap: balance;
    }
  }
}

#activities,
#guide {
  color: #1d3557;
}

#activities {
  background-color: #f1faee;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto 0 auto;
}

.card-wrapper {
  display: flex;
  container-type: inline-size;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.card {
  flex: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: balance;

  img {
    border-radius: 100%;
    width: 220px;
    height: 225px;
    object-fit: contain;
  }
  p {
    font-size: 16px;
  }
  code {
    color: blue;
    font-size: inherit;
    &:hover {
      text-decoration: underline;
      cursor: not-allowed;
    }
  }
}

/* @container (width>1400px) {
  .card {
    flex-direction: row;
    gap: 1rem;
  }
} */

.merriweather-regular {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-regular-italic {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
}

#guide {
  margin: 50px auto 50px auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: #fff;
  /* text-wrap: balance;
  margin: 50px auto; */
  width: min(80dvw, 600px);

  height: min(375px, 75dvh);

  .instructor {
    display: flex;
    background-color: #a8dadc;
    border-radius: 12px;
    padding: 23px 13px;
  }
  .instructor-info {
    margin: auto 15px auto 25px;
  }
  p {
    font-style: italic;
  }
}
